.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav .nav-item:last-child .btn {
  margin-left: 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M23 7h-20M23 15h-20M23 23h-20'/%3e%3c/svg%3e");
}


 .section-padding{
    padding: 100px 0;
 }
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{

    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
   
}
.carousel-caption p{
    width:60% ;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.btn{
    font-family: 'Nuito', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.btn.btn-success,
.btn.bn-secondary{
    color:#ffffff;
}
.btn-square{
    width: 38px;
    height: 38px;
}

.gallery{
    padding: 100px 0;
}
.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
   color: #fff;
   text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

.booking{
    background: linear-gradient(rgba(15,23,43,0.7)),(rgba(15,23,43,0.7)), url(../img/booking.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.users-feedback
{
    padding: 100px 0;
}
.user-review{
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding:  50px 10px 10px 10px;
}
.users-feedback img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f8f9fa ;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}

/* Dashboard Admin */
#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -240px;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }



  /* dashboard */
  
              
              .primary-text {
	color: #009d63;
              }
              
              .second-text {
	color:#c1efde ;
              }

              .rounded-full {
	border-radius: 100%;
              }

              
              #sidebar-wrapper {
	min-height: 100vh;
	margin-left: -240px;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
              }
              
              #sidebar-wrapper .sidebar-heading {
	padding: 14px 20px;
	font-size: 19px;
              }
              
              #sidebar-wrapper .list-group {
	width: 240px;
              }
              
              #page-content-wrapper {
	min-width: 100vw;
              }
              
              #wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
              }
              
              #menu-toggle {
	cursor: pointer;
              }
              
              .list-group-item {
	border: none;
	padding: 20px 30px;
              }
              
              .list-group-item.active {
	background-color: transparent;
	color: var(--main-text-color);
	font-weight: bold;
	border: none;
              }
              
              @media (min-width: 768px) {
	#sidebar-wrapper {
	  margin-left: 0;
	}
              
	#page-content-wrapper {
	  min-width: 0;
	  width: 100%;
	}
              
	#wrapper.toggled #sidebar-wrapper {
	  margin-left: -240px;
	}
              }
              /* readmore */
              