.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav .nav-item:last-child .btn {
  margin-left: 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M23 7h-20M23 15h-20M23 23h-20'/%3e%3c/svg%3e");
}


 .section-padding{
    padding: 100px 0;
 }
.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{

    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
   
}
.carousel-caption p{
    width:60% ;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}



.users-feedback
{
    padding: 100px 0;
}
.user-review{
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding:  50px 10px 10px 10px;
}
.users-feedback img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f8f9fa ;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}
/* 
/* Dashboard Admin */
#wrapper {
    overflow-x: hidden;
    
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -240px;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  } */



  /* dashboard */
  
              
              .primary-text {
	color: #009d63;
              }
              


              .rounded-full {
	border-radius: 100%;
              }

              
              #sidebar-wrapper {
	min-height: 100vh;
	margin-left: -240px;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
              }
              
              #sidebar-wrapper .sidebar-heading {
	padding: 14px 20px;
	font-size: 19px;
              }
              
              #sidebar-wrapper .list-group {
	width: 240px;
              }
              
              #page-content-wrapper {
	min-width: 100vw;
              }
              
              #wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
              }
              
              #menu-toggle {
	cursor: pointer;
              }
              
              .list-group-item {
	border: none;
	padding: 20px 30px;
              }
              
              .list-group-item.active {
	
	
	font-weight: bold;
	border: none;
              }
              
              @media (min-width: 768px) {
	#sidebar-wrapper {
	  margin-left: 0;
	}
              
	#page-content-wrapper {
	  min-width: 0;
	  width: 100%;
	}
              
	#wrapper.toggled #sidebar-wrapper {
	  margin-left: -240px;
	}
              }
              /* readmore */
              
.date{
  cursor: pointer;
}      


form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.input-group {
  display: flex;
}

.input-group-prepend,
.input-group-append {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.gallery{
  padding: 10px 0;
}
.gallery-box img{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.gallery-box img:hover{
  transform: scale(1.1);
}
.gallery-box h4{
  display: block;
 color: #fff;
 text-shadow: -2px 2px 2px #000;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.gallery-box{
  position: relative;
  margin-bottom: 30px;
}


body{
  font-family: 'Poppins', sans-serif;
  background: #ececec;
}


.box-area{
  width: 930px;
}

.right-box{
  padding: 40px 30px 40px 40px;
}

::placeholder{
  font-size: 16px;
}

.rounded-4{
  border-radius: 20px;
}
.rounded-5{
  border-radius: 30px;
}

@media only screen and (max-width: 768px){

   .box-area{
      margin: 0 10px;

   }
   .left-box{
      height: 100px;
      overflow: hidden;
   }
   .right-box{
      padding: 20px;
   }  
}
.gallery-box img{

    height: 250px;
    width: 350px;
    object-fit: cover;
  
}
.gallery-boxx img{

  height: 250px;
  width: 350px;
  object-fit: cover;

}
.navbar-collapse{
  flex-grow: 0 !important;
}


