


/* hero header */
.hero-header{
    background: url('../img/bg.jpg');
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar-light .navbar-nav .nav-link{
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #14A44D !important;
    font-size:18px;
    font-weight: 600;
    transition: 0.5s;
    outline:none;
}
@media(min-width: 992px){
    .navbar-light{
        position:absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(240, 11, 11, 0.1);
        z-index:999;
    }
}

.btn{
    font-family: 'Nuito', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.btn.btn-success,
.btn.bn-secondary{
    color:#ffffff;
}
.btn-square{
    width: 38px;
    height: 38px;
}

.gallery{
    padding: 100px 0;
}
.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
   color: #fff;
   text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

.booking{
    background: linear-gradient(rgba(15,23,43,0.7)),(rgba(15,23,43,0.7)), url(../img/booking.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.users-feedback
{
    padding: 100px 0;
}
.user-review{
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding:  50px 10px 10px 10px;
}
.users-feedback img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

    
   

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f8f9fa ;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}