.header{
    width: 100%;
    height: 100vh;
}
.text-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.nav_bar-top{
    background-color: #fcf6f6;
    width: 100%;
    height: 16vh;
    padding: 26px;
}
.para-text{
   
    color: rgba(0, 0, 0, 0.589);
    margin:  0px 4px;
    font-size: 17px;
    font-weight: 500;
}
.span_text{
    padding: 0px 6px;
}
.icon-social{
    font-size: 21px;
    padding: 0px 5px;
    margin: 0px 7px;
    cursor: pointer;
}
.icon-social:hover{
    color: rgb(117, 6, 6);
}
.navbar-container{
    position: absolute;
    top: 70px;
    left: 52px;
    width: 90%;
    background-color: #f8f9fa;
    padding: 16px 38px;
}
.heading-logo{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.nav-item .nav-link{
    color: rgba(8, 8, 8, 0.685);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.nav-item .nav-link:hover{
    color: rgba(10, 74, 4, 0.685);
    
}



 .section-padding{
    padding: 100px 0;
 }
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{

    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
   
}
.carousel-caption p{
    width:60% ;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.btn{
    font-family: 'Nuito', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.btn.btn-success,
.btn.bn-secondary{
    color:#ffffff;
}
.btn-square{
    width: 38px;
    height: 38px;
}

.gallery{
    padding: 100px 0;
}
.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
   color: #fff;
   text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

.booking{
    background: linear-gradient(rgba(15,23,43,0.7)),(rgba(15,23,43,0.7)), url(../img/booking.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.users-feedback
{
    padding: 100px 0;
}
.user-review{
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding:  50px 10px 10px 10px;
}
.users-feedback img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f8f9fa ;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}

/* Sign Up */

