

/* hero header */
.hero-header{
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar-light .navbar-nav .nav-link{
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #14A44D !important;
    font-size:18px;
    font-weight: 600;
    transition: 0.5s;
    outline:none;
}
@media(min-width: 992px){
    .navbar-light{
        position:absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(240, 11, 11, 0.1);
        z-index:999;
    }
}
.destination img{
    transition: 0.5s;
}
.destination a:hover img{
    transform:scale(1.1) ;
}
.package-item{
    box-shadow: 0 0 45px rgba(0,0,0,0.80) ;
    
}
.package-item img{
    transition: 0.5s;
}
.package-item:hover img{
    transform: scale(1.1);
}
.btn{
    font-family: 'Nuito', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.btn.btn-success,
.btn.bn-secondary{
    color:#ffffff;
}
.btn-square{
    width: 38px;
    height: 38px;
}
.booking{
    background: linear-gradient(rgba(15,23,43,0.7)),(rgba(15,23,43,0.7)), url(../img/booking.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial-carousel{
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 background: linear-gradient(to right, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0)100% );
 z-index: 1;
}
.testimonial-carousel::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 2552, 255, 1)0%, rgba(255, 2552, 255, 0)100%);
    z-index:1;
}

@media(min-width: 768px){
    .testimonial-carousel::before{
        width: 200px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item *{
    transition: 0.5s;
}
.testimonial-carousel .owl-item .testimonial-item{
     background:#0d6efd !important ;
     border-color: #0d6efd !important;
}
.testimonial-carousel .owl-item .testimonial-item *{
    color :#ffffff !important;
}
.testimonial-carousel .owl-dots{
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.testimonial-carousel .owl-dots{
    position: relative;
    display: inline-block;
    margin:0 5px ;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    transition: 0.5s;
}
.testimonial-carousel .owl-dot.active{

}